<h4>{{titre}}</h4>


<input type="text" [value]="somme" >
   
<div  class="m-2"*ngFor="let e of listArticles" >
    <div *ngIf="e.categorie!='travail'">
     
        
<div class="card" style="width: 18rem;" [ngStyle]="{'background-color': e.categorie=='Education'? 'blue' : ''}">
    <div class="card-body" >
      <h5 class="card-title">{{e.titre}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{e.auteur}}</h6>
      <p class="card-text">{{e.date}}</p>
      <p class="card-text">{{e.contenu}}</p>
      <p class="card-text">{{e.categorie}}</p>
    </div>
    
    </div>
  
    </div>
  </div>

